$fontSize: 10px;
$bg-main: #69008d;
$bg-light: #ff00a8;
$bg-dark: #4e0050;
$text-color: #fff;
$timeShowHidden: 800ms;

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin arrow($direction: down, $size: 5px, $color: #555) {
  width: 0;
  height: 0;
  display: inline-block;
  color: $color;
  @if ($direction == left) {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size * 2 solid currentColor;
  } @else if ($direction == right) {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size * 2 solid currentColor;
  } @else if ($direction == down) {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size * 2 solid currentColor;
  } @else {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size * 2 solid currentColor;
  }
}

@mixin Mobile {
  @media only screen and (max-width: 960px) {
    @content;
  }
}

$scrollbar-color-track: #ffffff;
$scrollbar-color-thumb-bg: #cccccc;
$scrollbar-color-thumb-border: #9999;
$scrollbar-width: 1rem;

%scrollbar {
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-color-track $scrollbar-color-thumb-bg;
  &::-webkit-scrollbar {
    width: $scrollbar-width;
    max-width: 10px;
  }
  &::-webkit-scrollbar-track {
    margin: 0.2rem auto;
    background: $scrollbar-color-track;
    border-radius: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    background: $scrollbar-color-thumb-bg;
    border-radius: 0.5rem;
    border: 1px solid $scrollbar-color-thumb-border;
  }
}
